<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node test 1</title>
    <style>
        .error,
        .success{
            padding: 5px;
            margin: 15px;
            border-radius: 5%;
            max-width: 10%;
        }

        .error{
            background-color: red;
        }

        .success{
            background-color: green;
        }
    </style>
</head>
<body>
    <button style="margin: 5px;">
        <a href="/upload">Adicionar Imagem</a>
    </button>
    {{>errors}}
    {{>messages}}
    {{{body}}}
    <script src="js/main.js"></script>
</body>
</html>